
#pin2ucf - Sun Mar 21 16:54:42 2021
#The following constraints were newly added
NET "X7<3>" LOC = AA33;
NET "X4<1>" LOC = AK32;
NET "X7<4>" LOC = U33;
NET "X4<2>" LOC = AJ32;
NET "X1<0>" LOC = D32;
NET "X7<5>" LOC = W34;
NET "X4<3>" LOC = AE32;
NET "X1<1>" LOC = J32;
NET "X7<6>" LOC = Y33;
NET "X4<4>" LOC = V24;
NET "X1<2>" LOC = C33;
NET "X7<7>" LOC = V34;
NET "X4<5>" LOC = AD32;
NET "X1<3>" LOC = L34;
NET "X4<6>" LOC = AG33;
NET "X1<4>" LOC = J34;
NET "X4<7>" LOC = AH33;
NET "X1<5>" LOC = H33;
NET "X1<6>" LOC = K34;
NET "X1<7>" LOC = H34;
NET "X9<0>" LOC = AF33;
NET "X9<1>" LOC = AB33;
NET "X9<2>" LOC = AB32;
NET "X6<0>" LOC = AN32;
NET "X9<3>" LOC = AC34;
NET "X6<1>" LOC = AN33;
NET "X9<4>" LOC = AC33;
NET "X6<2>" LOC = W24;
NET "X3<0>" LOC = T34;
NET "X9<5>" LOC = AD34;
NET "F" LOC = R34;
NET "X6<3>" LOC = AG32;
NET "X3<1>" LOC = Y32;
NET "X9<6>" LOC = AE33;
NET "X6<4>" LOC = AN34;
NET "X3<2>" LOC = R33;
NET "X9<7>" LOC = AC32;
NET "X6<5>" LOC = AK33;
NET "X3<3>" LOC = U32;
NET "X6<6>" LOC = AK34;
NET "X3<4>" LOC = R32;
NET "X6<7>" LOC = AH32;
NET "X3<5>" LOC = V32;
NET "X3<6>" LOC = U31;
NET "X3<7>" LOC = V33;
NET "X8<0>" LOC = AL33;
NET "X8<1>" LOC = AL34;
NET "X8<2>" LOC = AM32;
NET "X5<0>" LOC = P34;
NET "X8<3>" LOC = AJ34;
NET "X5<1>" LOC = M33;
NET "X8<4>" LOC = AM33;
NET "X5<2>" LOC = L33;
NET "X2<0>" LOC = C34;
NET "X8<5>" LOC = AF34;
NET "X5<3>" LOC = T33;
NET "X2<1>" LOC = D34;
NET "X8<6>" LOC = AE34;
NET "X5<4>" LOC = M32;
NET "X2<2>" LOC = E34;
NET "X8<7>" LOC = AH34;
NET "X5<5>" LOC = N32;
NET "X2<3>" LOC = G32;
NET "X5<6>" LOC = N34;
NET "X2<4>" LOC = F33;
NET "X5<7>" LOC = P32;
NET "X2<5>" LOC = H32;
NET "X2<6>" LOC = C32;
NET "X2<7>" LOC = E32;
NET "X7<0>" LOC = W32;
NET "X7<1>" LOC = Y34;
NET "X7<2>" LOC = AA34;
NET "X4<0>" LOC = AP32;
